//search
.wrapper {
    --search-height: 46px;
    --search-width: 361px;
    --search-boder-radius: 92px;
    --search-btn-width: 52px;
}

.search {
    width: var(--search-width);
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    padding-left: 16px;
    border-radius: var(--search-boder-radius);
    border: 1.5px solid transparent;
    display: flex;
    align-items: center;
    position: relative;
    &::after {
        content: '';
        width: 1px;
        height: calc(var(--search-height) - 18px);
        background-color: rgba(22, 24, 35, 0.12);
        position: absolute;
        right: var(--search-btn-width);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.02);
    }

    input {
        background-color: transparent;
        flex: 1;
        font-size: 1.6rem;
        height: 100%;
        caret-color: var(--primary);
        padding-right: 42px;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
}

.search-loading,
.search-delete {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    color: rgba(22, 24, 35, 0.34);
    cursor: pointer;
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    cursor: pointer;
}

.render-tippy {
    width: var(--search-width);
}

.render-header {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.2);
    padding: 5px 12px;
}
